.btn {
  font-size: .9rem;
  &.btn-lg {
    font-size: 1.06rem
  }
  &.btn-sm {
    font-size: .7rem
  }
  &.btn-square {
    border-radius: 0 ;
  }

  &.btn-pill {
    border-radius: 50px ;
  }

  & .fa {
    margin: 0 3px 0 0;
  }
}