.card {
  border-radius: 0px !important;
  //height: 100%;

  .bd-placeholder-img {
    text-anchor: middle;
  }
  .card-header {
    border-radius: 0px !important;
    
    & i[class*="icon-"] {
      font-size: 20px;
      margin-right: 7px;
      top: 3px;
      position: relative;
    }
  }

  &.card-transparent {
    & .card-header{        
      background: transparent;
    }
  }

  & .card-footer {
    &:empty{
      //display: none;
    }
  }

}