 <div class="row login">
      <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-login my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form class="form-login">
              <div class="form-label-group mb-4">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
              </div>
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
            </form>
            <div class="row newuser mt-4 justify-content-center">
              <a routerLink="/register">New User? Register</a>|
            <a routerLink="/login">Know Password? Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>