 <div class="row login  my-5">
      <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-login">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-login">
               <div class="form-label-group  mb-4">
                <input type="text" id="username" class="form-control" placeholder="User Name" required autofocus>
              </div>
              <div class="form-label-group mb-4">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required >
              </div>
              <div class="form-label-group  mb-4">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
               <div class="form-label-group  mb-4">
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
              </div>
             
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            </form>
            <div class="row newuser mt-4 justify-content-center">
              <a routerLink="/login">Already User? Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>