.login {
  margin: 0;
  & .card-login {
    border-radius: 1rem !important;
    padding: 1rem;
  }
  & .form-login {
    & .form-label-group {
      input {
        padding: 25px;
        border-radius: 1.5rem;
      }

    }
    .btn-block {
      border-radius: 1.5rem;
    }
  }
  .newuser {
    a {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}