<div class="row mb-4">
  <div class="col-12">
    <cards>
      <div cardHeader>Static</div>
      <div class="row">
        <div class="col-sm-4">
          <div class="mb-2">
            <progressbar [value]="55"></progressbar>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mb-2">
            <progressbar [value]="22" type="warning" [striped]="true">22%</progressbar>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mb-2">
            <progressbar max="200" [value]="166" type="danger" [striped]="true" [animate]="true"><i>166 / 200</i></progressbar>
          </div>
        </div>
      </div>
    </cards>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <cards>
      <div cardHeader>Dynamic</div>
      <div class="">
        <div class="mb-2">
          <progressbar [max]="max" [value]="dynamic"><span class="text-nowrap">{{dynamic}} / {{max}}</span></progressbar>
          <small><em>No animation</em></small>
        </div>
        <div class="mb-2">
          <progressbar [animate]="false" [value]="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>
          <small><em>Object (changes type based on value)</em></small>
        </div>
        <div class="mb-3">
          <progressbar class="progress-striped active" [value]="dynamic" [type]="type">{{type}}</progressbar>
        </div>
      </div>
      <div cardFooter><button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button></div>
    </cards>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <cards>
      <div cardHeader>Stacked</div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <progressbar class="progress" [value]="stacked" [max]="100"></progressbar>
          </div>
        </div>
      </div>
      <div cardFooter><button type="button" class="btn btn-sm btn-primary" (click)="randomStacked()">Randomize</button></div>
    </cards>
  </div>
</div>