<div class="row">
    <div class="col-12 col-lg-6  mb-4">
        <div class="card">
            <div class="card-header">
                <i class="icon-note"></i>  DatePicker Form
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">DatePicker</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="" bsDatepicker>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">DatePicker Range</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="" bsDaterangepicker>
                    </div>
                </div>
                <h5>Initial state</h5>
                <hr>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">DatePicker Range</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" #dp="bsDatepicker"  bsDatepicker  [bsValue]="bsValue">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">DatePicker Range</label>
                    <div class="col-sm-9">
                        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue" />
                    </div>
                </div>
                <form [formGroup]="myForm">
                    <h5>Custom date format</h5>
                    <hr>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Date Format</label>
                        <div class="col-sm-9">
                            <input class="form-control" #dpYMD="bsDatepicker" bsDatepicker formControlName="myDateYMD" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Date Format</label>
                        <div class="col-sm-9">
                            <input
                            class="form-control" #dpMDY="bsDatepicker" bsDatepicker  formControlName="myDateMDY"  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Date with time</label>
                        <div class="col-sm-9">
                            <input  class="form-control"  #dpFull="bsDatepicker" bsDatepicker  formControlName="myDateFull" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-lg-6 mb-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="icon-note"></i> Input Mask Form
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Date And Hours</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-calendar"></i></span>
                        </div>
                        <input  class="form-control"  type="text" mask="(00/00/00) 00:00:00" [showMaskTyped] = "true"/>
                      </div>
                      <small class="text-muted">eg: (00/00/00) 00:00:00</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Phone Number prefix(+01)</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-phone"></i></span>
                          </div>
                          <input  class="form-control"  type="text" mask="(000) 000-0000" [showMaskTyped] = "false" prefix="+01"   />
                        </div>
                      <small class="text-muted">eg: (000) 000-0000</small>  
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Sufix ($)</label>
                    <div class="col-sm-9">
                        <input  class="form-control"  type="text" mask="0000.00" [showMaskTyped] = "false" sufix="$"   />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input  class="form-control"  type="text" mask="A*@A*.SSS" [showMaskTyped] = "false"    />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Credit Card</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-credit-card"></i>
                          </span>
                        </div>
                        <input  class="form-control"  type="text" mask="0000-0000-0000-0000" [showMaskTyped] = "false"    />
                      </div>
                      <small>eg: 0000-0000-0000-0000</small>
                    </div>
                </div>
                <div class="from-group row">
                    <label class="col-sm-3 col-form-label"> Slider Value</label>
                    <div class="col-sm-9 slider-input">
                        <mv-slider 
                        [(value)]="sliderValue" 
                        [tooltipSplit] = "true"
                        [min] = "0"
                        [max] = "100"
                        [enabled]="enabled" 
                        (change)="change()" 
                        [tooltip] = "always" ></mv-slider>
                        <span >{{value}}</span>
                    </div>
                </div>
                <div class="from-group row">
                    <label class="col-sm-3 col-form-label"> Price Range</label>
                    <div class="col-sm-9 slider-input">
                        <mv-slider 
                        [(value)]="sliderRangeValue" 
                        [tooltipSplit] = "true"
                        [min] = "0"
                        [max] = "100"
                        [range] = "true"
                        [enabled]="enabled" 
                        [ticks]="[0, 50, 100]"
                        [ticksLabels]='["$0", "$50",  "$100"]'
                        (change)="onSliderRange()" 
                        [tooltip] = "always" ></mv-slider>
                        <span >{{value}}</span>
                    </div>
                </div>
            </div>
        </div>

        <cards>
          <div cardHeader>Timepicker</div>
          <timepicker [(ngModel)]="mytime"></timepicker>
          <pre class="alert alert-info">Time is: {{mytime}}</pre>
        </cards>
    </div>
</div>