.app-header {
  color: #FFF;
  height: 55px;
  & .navbar {
    justify-content: end;
     .hamburger {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 10px;
      color: #FFF;
      & i {
            display: inline-block;
            position: relative;
            height: 20px;
            width: 25px;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            top: 5px;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              top: 7px;
              background: #FFF;
            }
      }
    }
    .navbar-brand {
      color: #FFF;
    }
    .nav-item {
      position: relative;
      .nav-link {
        position: relative;
        color: #ccc;
        font-size: 15px;
        .badge {
          position: absolute;
          top: 3px;
          right: 5px;
        }
      }
      & .dropdown-menu {
          padding: 0;
          & .dropdown-header{
            background: #ccc;
            color:#000;
            font-size: 15px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }

      }
    }
  }
}

@media only screen and (max-width: 992px) {
    .app-header {
      & .navbar-toggler {
        color: #FFF;
      }
      & .navbar-collapse{
        width: 200px;
        height: 100vh !important;
        right: -200px;
        position: fixed;
        top: 55px;
        background: #333;
        @include transition();
        &.show {
          right: 0;
        }
        & .header-nav {
          position: relative;
          border-bottom: 1px solid #555;
          & .nav-item {
            position: static;
            & .dropdown-menu {
            position: absolute;
            left: 0;
            width: 200px;
            margin: 0;
            padding: 0;
            background: transparent;
            & .dropdown-header {
              background: #555;
              color:#ccc;
            }
            & .dropdown-item {
              background: transparent;
              color: #ccc;
              border-bottom: 1px solid #555;
              line-height: 35px;
              &::after{
                background: transparent
              }
            }
          }
          }
        }
      }
    }
}

@media only screen and (max-width: 769px) {
 
}