<div class="row mb-4">
  <div class="col-12 col-md-6">
    <div>
      <tabset>
        <tab heading="Home">
          <p>1. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</p>
        </tab>
        <tab heading="About">2. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
        <tab heading="Info">3. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
      </tabset>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div>
      <tabset>
        <tab heading="Home">
          <p>1. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</p>
        </tab>
        <tab>
          <ng-template tabHeading>About <span class="badge badge-success">New</span></ng-template>
          2. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
        <tab>
          <ng-template tabHeading>Info <span class="badge badge-danger">35</span></ng-template>
          3. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
      </tabset>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12 col-md-6">
    <div>
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon icon-home"></i></ng-template>
          <p>1. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</p>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-user"></i></ng-template>
          2. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
        <tab>
          <ng-template tabHeading><i class="icon-doc"></i></ng-template>
          3. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
      </tabset>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div>
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon icon-home"></i> Home</ng-template>
          <p>1. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</p>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-user"></i> About <span class="badge badge-success">New</span></ng-template>
          2. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
        <tab>
          <ng-template tabHeading><i class="icon-doc"></i> Info <span class="badge badge-danger">35</span></ng-template>
          3. Curabitur rhoncus pellentesque libero, ut ornare dui imperdiet vel. Fusce laoreet, felis at consequat mollis, ante ex imperdiet magna, quis tempus mi libero sit amet quam.</tab>
      </tabset>
    </div>
  </div>
</div>