<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header">
        <i class="icon-list"></i>  Datatable
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table row-border hover">
            <thead>
              <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Company</th>
              <th>Email</th>
              <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userData">
                  <td>{{data.name}}</td>
                  <td>{{data.gender}}</td>
                  <td>{{data.company}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.address}}</td>
              </tr>
            </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="icon-list"></i>   Datatable (Ajax)
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtAjaxOptions" class="table row-border hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
            </tr>
          </thead>
          <tbody *ngIf="persons?.length != 0">
              <tr *ngFor="let person of persons">
                  <td>{{ person.id }}</td>
                  <td>{{ person.firstName }}</td>
                  <td>{{ person.lastName }}</td>
              </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>