<div class="row mb-5">
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <box-widget 
        customClass = "bg-green"
        iconClassName = "fa-download"
        countValue = "2,34,555"
        countLabel = "Total User">
      </box-widget>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <box-widget 
        customClass = "bg-red"
        iconClassName = "fa-user"
        countValue = "2,34,555"
        countLabel = "Active User">
      </box-widget>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <box-widget 
        customClass = "bg-blue"
        iconClassName = "fa-shopping-cart"
        countValue = "2,34,555"
        countLabel = "Total Saler">
      </box-widget>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
      <box-widget 
        customClass = "bg-green"
        iconClassName = "fa-dollar-sign"
        countValue = "2,34,555"
        countLabel = "Revenue">
      </box-widget>                 
  </div>
</div>


<div class="row mb-5">
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <socialshare shareName="facebook"  followersCount = "2343" likesCount = "234"></socialshare>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <socialshare shareName="twitter"  followersCount = "23K" likesCount = "234"></socialshare>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <socialshare shareName="linkedin"  followersCount = "23K" likesCount = "234"></socialshare>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <socialshare shareName="pinterest"  followersCount = "20K" likesCount = "234"></socialshare>
  </div>
</div>


<div class="row mb-4">
  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <progressbar-widget 
          progressValue = "3434"
          progressTitle = "Active User"
          progressText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          progressBarMaxValue = "4000"
          progressBarValue = "3434"
          progressBarAnimated = "true"
          progressBarStriped = "true"
          progressBarType = "danger"
          settingsMenu = true
          ></progressbar-widget>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <progressbar-widget 
          progressValue = "3980"
          progressTitle = "Success Payments"
          progressText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          progressBarMaxValue = "4000"
          progressBarValue = "3980"
          progressBarAnimated = "true"
          progressBarStriped = "true"
          progressBarType = "success"
          settingsMenu = true
          ></progressbar-widget>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <progressbar-widget 
          progressValue = "3434"
          progressTitle = "Active User"
          progressText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          progressBarMaxValue = "4000"
          progressBarValue = "3434"
          progressBarAnimated = "true"
          progressBarStriped = "true"
          progressBarType = "info"
          settingsMenu = true
          ></progressbar-widget>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3 mb-md-4 mb-lg-0">
      <progressbar-widget 
          progressValue = "3434"
          progressTitle = "Active User"
          progressText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          progressBarMaxValue = "4000"
          progressBarValue = "3434"
          progressBarAnimated = "true"
          progressBarStriped = "true"
          progressBarType = "warning"
          settingsMenu = true
          ></progressbar-widget>
  </div>
</div>