<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardWrapperClass= ""
        cardImage = "placeholder">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardImage = "placeholder"> 
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>
</div>

<h3 class="display-6 mb-4 mt-5">Cards Group</h3>

<div class="row">
  <div class="col-12">
    <div class="card-group">
    <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </cards>
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
  </div>
  </div>
</div>

<h2 class="page-title mb-4 mt-5">Cards Decks</h2>

<div class="row mb-4">
  <div class="col-12">
    <div class="card-deck">
    <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
      <cards
        cardImage = "placeholder">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
  </div>
  </div>
</div>

<h2 class="page-title mb-4">Cards Background</h2>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardWrapperClass= "text-white bg-primary">
          <div cardHeader>Header</div>
          <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardWrapperClass= "text-white bg-warning">
          <div cardHeader>Header</div>
          <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
    <cards
        cardWrapperClass= "text-white bg-success">
          <div cardHeader>Header</div>
          <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <cards
        cardWrapperClass= "text-white bg-danger">
          <div cardHeader>Header</div>
          <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </cards>
    </div>
</div>