<div class="row">
  <div class="col-12 col-md-6 ">
    <section class="section accordion">
  <accordion [isAnimated]="true">
    <accordion-group [isOpen]="isContentOpen">
      <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left">Accordion tab 1</div>
      <span class="badge float-right pull-right">
        <i *ngIf="isContentOpen" class="fa fa-chevron-down"></i>
      </span>
    </button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
      </p>
    </accordion-group>
    <accordion-group >
      <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left">Accordion tab 2</div>
      <span class="badge float-right pull-right">
        <i class="fa fa-chevron-down"></i>
      </span>
    </button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
      </p>
    </accordion-group>
    <accordion-group >
      <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left">Accordion tab 3</div>
      <span class="badge float-right pull-right">
        <i class="fa fa-chevron-down"></i>
      </span>
    </button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
      </p>
    </accordion-group>
  </accordion>
</section>
  </div>


  <div class="col-12 col-md-6">
    <section class="section accordion">
      <accordion [isAnimated]="true">
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
          <div class="pull-left float-left">Accordion tab 1</div>
          <span class="badge badge-primary float-right pull-right">
            23
          </span>
        </button>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
          </p>
        </accordion-group>
        <accordion-group >
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
          <div class="pull-left float-left">Accordion tab 2</div>
          <span class="badge float-right pull-right">
            <i class="fa fa-chevron-down"></i>
          </span>
        </button>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
          </p>
        </accordion-group>
        <accordion-group >
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
          <div class="pull-left float-left">Accordion tab 3</div>
          <span class="badge float-right pull-right">
            <i class="fa fa-chevron-down"></i>
          </span>
        </button>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel facilisis arcu, sed malesuada arcu. Sed sed felis nec augue ultricies consequat nec a elit. Nam euismod, libero et elementum efficitur, orci nibh pellentesque massa, vel placerat ligula tellus fringilla metus. Integer porta, libero eget lacinia faucibus, nisl justo eleifend felis, id facilisis justo tellus quis ligula. Nunc leo tortor, pharetra eget ultricies rutrum, semper eget velit. Proin tincidunt mi non bibendum laoreet. Nunc finibus eleifend quam, sed mattis erat imperdiet a. Pellentesque commodo risus sed fringilla maximus.
          </p>
        </accordion-group>
      </accordion>
    </section>
  </div>
</div>